* {
  box-sizing: border-box;
}
html {
  font-family: Arial, sans-serif;
  height: 100%;
}
body {
  background-color: #bbb;
  margin: 0;
  padding: 0;
  height: 100%;
}

body::-webkit-scrollbar {
  display: none;
}

[class*="col-"] {
  float: left;
}

header {
  text-transform: uppercase;
  font-size: 26px;
  text-align: center;
  font-weight: 700;
  background-color: #0375b4;
  padding: 20px;
}

ul {
  list-style-type: none;
  padding:0 10px;
}

ul li {
  color: white;
  background-color: #33b5e5;
  font-weight: 600;
  text-transform: uppercase;
  text-align: center;
  padding: 5px;
  margin-bottom: 8px;
  box-shadow: 2px 2px 4px 2px rgba(0, 0, 0, 0.15);
}

li:hover {
  background-color: #0099cc;
  box-shadow: 2px 2px 4px 2px rgba(0, 0, 0, 0.3);
}

li:active {
  background-color: #0099cc;
  box-shadow: 2px 2px 4px 2px rgba(0,0,0,0);
}

article {
  margin: 10px;
  text-align: justify;
}

section img {
  width: 100%;
  height: 100%;
  margin-bottom: 2px;}

aside {
  padding: 10px;
  text-align: justify;
  padding-bottom: 50px;
}

section {
  padding-bottom: 50px;
}

.container {
  min-height: 100%;
  padding-bottom: 50px;
}

footer {
  background-color: #135fa5;
  font-size: 13px;
  color: white;
  height: 50px;
  text-align: center;
  margin-top: -50px;
}

footer p {
  float: left;
  margin: 16px 25px;
}

#data {
  float: right;
  margin: 16px 25px;
}

.anim {
  height: 55px;
  width: 60px;
  background: yellow;
  position: absolute;
  bottom: 20px;
  left: 20px;
  animation: animacja 5s infinite alternate 0.5s;
  font-weight: 900;
  border-radius: 50%;
  text-align: center;
  transition: transform 1.5s;
  box-shadow: 10px 10px 20px rgba(2,2,2,0.7);
  z-index: 10;
}

.anim:active {
  background: url("picture/giphy.gif");
  bottom: 0px;
  left: 0px;
  height: 100%;
  width: 100%;
  background-size: 100% 100%;
  background-origin: border-box;
  animation: none;
  border-radius: 0%;
  transition: transform 0s;
}

.anim:hover {
   transform: rotateY(2160deg) rotateX(3600deg) rotateZ(1080deg);
}

.anim:active div {
    opacity: 0;
}

@keyframes animacja {
  0% {background-color: yellow; left: 8%; bottom: 12%; color: black;}
  17% {background-color: red; left: 62%; bottom: 25%; color: yellow;}
  34% {background-color: orange; left: 30%; bottom: 7%; color: white;}
  51% {background-color: yellow; left: 92%; bottom: 25%; color: blue;}
  67% {background-color: green; left: 45%; bottom: 3%; color: white;}
  83% {background-color: blue; left: 15%; bottom: 22%; color: yellow;}
  100% {background-color: darkblue; left: 78%; bottom: 12%; color: orange;}
}

/* for mobile phones */
[class*="col-"] {
  width: 100%;
}

/* for tablets */
@media only screen and (min-width: 600px) {
  .col-m-1 {width: 8.33%;}
  .col-m-2 {width: 16.66%;}
  .col-m-3 {width: 25%;}
  .col-m-4 {width: 33.33%;}
  .col-m-5 {width: 41.66%;}
  .col-m-6 {width: 50%;}
  .col-m-7 {width: 58.33%;}
  .col-m-8 {width: 66.66%;}
  .col-m-9 {width: 75%;}
  .col-m-10 {width: 83.33%;}
  .col-m-11 {width: 91.66%;}
  .col-m-12 {width: 100%;}
}

/* for desktop */
@media only screen and (min-width: 768px) {
  .col-1 {width: 8.33%;}
  .col-2 {width: 16.66%;}
  .col-3 {width: 25%;}
  .col-4 {width: 33.33%;}
  .col-5 {width: 41.66%;}
  .col-6 {width: 50%;}
  .col-7 {width: 58.33%;}
  .col-8 {width: 66.66%;}
  .col-9 {width: 75%;}
  .col-10 {width: 83.33%;}
  .col-11 {width: 91.66%;}
  .col-12 {width: 100%;}

  ul {
    font-size: 120%;
  }

  li {
    padding: 10px;
  }

  aside {
    overflow-y: scroll;
    max-height: 800px;
  }

  main {
    margin-bottom: 50px;
  }

  section img {
    display: block;
    float: left;
    width: 50%;
    padding: 2px;
  }
}
